<html>
  <head>
    <title>Todo App</title>
    <style>
      .hidden {
        display: none;
      }
      h1{
        text-align: center;
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 300px;
      }
      li {
        clear: both;
      }
      li button {
        -webkit-appearance: none;
        border: none;
        outline: none;
        color: red;
        float: right;
        cursor: pointer;
        font-size: 20px;
      }
      .list-wrapper {
        border: solid;
        background-color: white;
        float: left;
        margin: 20px;
        text-align: center;
        left: 20px;
      }
      .todos-wrapper{
        border: solid;
        background-color: aqua;
        float: left;
        margin: 20px;
        text-align: center;
      }
    </style>
  </head>

  <body>
    <div id="error" class="hidden">Something went wrong!</div>
    <div class="list-wrapper">
      <h1>Todo Lists</h1>

      <form id="lists-form" method="post">
        <input type="text" id="list-name" name="list-name" />
        <input type="submit" value="Create" />
      </form>
          <ul id="lists">
            <li>Todo Lists</li>
            {% if lists %}
              {% for list in lists %}
              <li> 
                <input class="list-check-completed" data-id="{{ list.id }}" type="checkbox" 
                {% if list.completed %} checked {% endif %} />
                <a href="/lists/{{ list.id }}">{{ list.name }}</a> 
                <a href="/lists/delete/{{list.id}}"><button class="list-delete-button" data-id="{{ list.id }}">&cross;</button></a>
              </li>
              {% endfor %}
            {% endif %}
          </ul>
    </div>

    <div class="todos-wrapper">
      <h1>{{active_list_name}}</h1>

      <form id="todos-form" method="post">
        <input type="text" id="todo-description" name="todo-description" />
        <input type="submit" value="Create" />
      </form>
        <ul id="todos">
          <li>Todo Items</li>
        {% if todos %}
          {% for todo in todos %}
          <li>
            <input class="todo-check-completed" data-id="{{ todo.id }}" type="checkbox" 
            {% if todo.completed %} checked {% endif %} />
            {{ todo.description }}
            <button class="todo-delete-button" data-id="{{ todo.id }}">&cross;</button>
          </li>
          {% endfor %}
        {% endif %}
        </ul>
    </div>




    <script>
      /// stuff for lists
      // list form
      const nameInput = document.getElementById('list-name');
      document.getElementById('lists-form').onsubmit = function(e) {
        console.log(e);
        e.preventDefault();
        const name = nameInput.value;
        nameInput.value = '';
        fetch('/lists/create', {
          method: 'POST',
          body: JSON.stringify({
            'name': name,
          }),
          headers: {
            'Content-Type': 'application/json',
          }
        })
        .then(response => response.json())
        .then(jsonResponse => {
          const li = document.createElement('li');
          const text = document.createTextNode(' ' + jsonResponse.name);
          li.appendChild(text);
          document.getElementById('lists').appendChild(li);
          document.getElementById('error').className = 'hidden';
        })
        .catch(function() {
          console.error('Error occurred');
          document.getElementById('error').className = '';
        })
      }
      // list check boxes
      const listcheckboxes = document.querySelectorAll('.list-check-completed');
      for (let i = 0; i < listcheckboxes.length; i++) {
        const listcheckbox = listcheckboxes[i];
        listcheckbox.onchange = function(e) {
          const newCompleted = e.target.checked;
          const listId = e.target.dataset['id'];
          fetch('/lists/' + listId + '/set-completed', {
            method: 'POST',
            body: JSON.stringify({
              'completed': newCompleted
            }),
            headers: {
              'Content-Type': 'application/json'
            }
          })
          .then(function() {
            document.getElementById('error').className = 'hidden';
          })
          .catch(function() {
            document.getElementById('error').className = '';
          })
        }
      }
      //list delete
      // const listDeleteBtns = document.querySelectorAll('.list-delete-button');
      // for (let i = 0; i < listDeleteBtns.length; i++) {
      //   const listBtn = listDeleteBtns[i];
      //   listBtn.onclick = function(e) {
      //     const listId = e.target.dataset['id'];
      //     fetch('/lists/delete/' + listId, {
      //       method: 'DELETE'
      //     })
      //         .then(function() {
      //           const item = e.target.parentElement;
      //           item.remove();
      //     })
      //   }
      // }

      /// stuff for todos
      //to form
      const descInput = document.getElementById('todo-description');
      document.getElementById('todos-form').onsubmit = function(e) {
        e.preventDefault();
        const desc = descInput.value;
        descInput.value = '';
        fetch('/todos/{{active_list_id}}/create', {
          method: 'POST',
          body: JSON.stringify({
            'description': desc,
          }),
          headers: {
            'Content-Type': 'application/json',
          }
        })
        .then(response => response.json())
        .then(jsonResponse => {
          const li = document.createElement('li');
          const checkbox = document.createElement('input');
          checkbox.className = 'check-completed';
          checkbox.type = 'checkbox';
          checkbox.setAttribute('data-id', jsonResponse.id);
          li.appendChild(checkbox);

          const text = document.createTextNode(' ' + jsonResponse.description);
          li.appendChild(text);

          const deleteBtn = document.createElement('button');
          deleteBtn.className = 'delete-button';
          deleteBtn.setAttribute('data-id', jsonResponse.id);
          deleteBtn.innerHTML = '&cross;';
          li.appendChild(deleteBtn);

          document.getElementById('todos').appendChild(li);
          document.getElementById('error').className = 'hidden';
        })
        .catch(function() {
          console.error('Error occurred');
          document.getElementById('error').className = '';
        })
      }
      //todo checkboxes
      const checkboxes = document.querySelectorAll('.todo-check-completed');
      for (let i = 0; i < checkboxes.length; i++) {
        const checkbox = checkboxes[i];
        checkbox.onchange = function(e) {
          const newCompleted = e.target.checked;
          const todoId = e.target.dataset['id'];
          fetch('/todos/' + todoId + '/set-completed', {
            method: 'POST',
            body: JSON.stringify({
              'completed': newCompleted
            }),
            headers: {
              'Content-Type': 'application/json'
            }
          })
          .then(function() {
            document.getElementById('error').className = 'hidden';
          })
          .catch(function() {
            document.getElementById('error').className = '';
          })
        }
      }
      //todo delete
      const deleteBtns = document.querySelectorAll('.todo-delete-button');
      for (let i = 0; i < deleteBtns.length; i++) {
        const btn = deleteBtns[i];
        btn.onclick = function(e) {
          const todoId = e.target.dataset['id'];
          fetch('/todos/' + todoId, {
            method: 'DELETE'
          })
              .then(function() {
                const item = e.target.parentElement;
                item.remove();
          })
        }
      }
      // //todo checkboxes
      // const checkboxes = document.querySelectorAll('.check-completed');
      // for (let i = 0; i < checkboxes.length; i++) {
      //   const checkbox = checkboxes[i];
      //   checkbox.onchange = function(e) {
      //     const newCompleted = e.target.checked;
      //     const todoId = e.target.dataset['id'];
      //     fetch('/todos/' + todoId + '/set-completed', {
      //       method: 'POST',
      //       body: JSON.stringify({
      //         'completed': newCompleted
      //       }),
      //       headers: {
      //         'Content-Type': 'application/json'
      //       }
      //     })
      //     .then(function() {
      //       document.getElementById('error').className = 'hidden';
      //     })
      //     .catch(function() {
      //       document.getElementById('error').className = '';
      //     })
      //   }
      // }

      // const descInput = document.getElementById('todo-description');
      // document.getElementById('todos-form').onsubmit = function(e) {
      //   e.preventDefault();
      //   const desc = descInput.value;
      //   descInput.value = '';
      //   fetch('/todos/{{active_list_id}}/create', {
      //     method: 'POST',
      //     body: JSON.stringify({
      //       'description': desc,
      //     }),
      //     headers: {
      //       'Content-Type': 'application/json',
      //     }
      //   })
      //   .then(response => response.json())
      //   .then(jsonResponse => {
      //     const li = document.createElement('li');
      //     const checkbox = document.createElement('input');
      //     checkbox.className = 'check-completed';
      //     checkbox.type = 'checkbox';
      //     checkbox.setAttribute('data-id', jsonResponse.id);
      //     li.appendChild(checkbox);

      //     const text = document.createTextNode(' ' + jsonResponse.description);
      //     li.appendChild(text);

      //     const deleteBtn = document.createElement('button');
      //     deleteBtn.className = 'delete-button';
      //     deleteBtn.setAttribute('data-id', jsonResponse.id);
      //     deleteBtn.innerHTML = '&cross;';
      //     li.appendChild(deleteBtn);

      //     document.getElementById('todos').appendChild(li);
      //     document.getElementById('error').className = 'hidden';
      //   })
      //   .catch(function() {
      //     console.error('Error occurred');
      //     document.getElementById('error').className = '';
      //   })
      // }
    </script>
  </body>
</html>